# Sample Rigor configuration file. Copy this into an appropriate location (by
# default, Rigor will look in your home directory for a file called .rigor.ini)
# and edit the values as appropriate
#
[database]
# Database connection parameters go here. If you are using sqlite, the only
# necessary parameter is driver. The database name, specified elsewhere, should
# be the path to the database file.

# Username for connecting to the database
#username = USER

# Password for connecting to the database
#password = PASS

# Host name for connecting to the database
#host = HOST

# Port for connecting to the database
#port = 5432

# Driver to use for database connections, in SQLAlchemy's driver format
#driver = postgresql+psycopg2
driver = sqlite

[import]
# Whether to hash files on import. This can be useful to find duplicates and
# ensure file data remains the same, but it requires reading the full contents
# of each file on import, which may be time-consuming if data is stored in S3,
# for example.
hash_imports = yes

# If using S3, each percept will need its "credentials" field set to a section
# name in this configuration file.
#
# Here is an entry for a percept with "example_credentials" in its
# "credentials" field:
#[example_credentials]
# aws_access_key_id = AKIAIOSFODNN7EXAMPLE
# aws_secret_access_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
