# Commented-out values are defaults.  Everything else
# must be set for the application to run
#
[global]
# Where the server image repository is mounted locally
image_repository = /data/rigor/images

# Number of images to process in parallel.  Default will use number of CPUs
# found.  If set to 1, processing will be done in the main thread.
#max_workers = 8

# Whether to copy images locally before processing
#copy_local = yes

[database]
# Username for connecting to the database
username = USER

# Password for connecting to the database
password = PASS

# Host name for connecting to the database
host = ea

# Name of the database
#database = rigor

# Whether to use SSL for the database connection
#ssl = yes

# Minimum number of pooled connections to database
#min_database_connections = 0

# Maximum number of pooled connections to database
#max_database_connections = 10

[import]
# Where images should be copied or moved to once imported
upload_repository = /data/rigor/import

# Filename containing global metadata for a directory
#metadata_file = metadata.json

# Date format for timestamps in metadata files
#timestamp_format = %Y-%m-%dT%H:%M:%SZ

[sibyl]
# Location of sibyl's Python modules
python_root = SIBYL_PATH
